<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <h3>Register</h3>
        <form action="/register" class="register-form" method="post">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <button type="submit">create</button>
          <p class="message">
            Already registered? <a href="/login">Sign In</a>
          </p>
          <% if (errors != null) { %> <% errors.forEach(function(err){ %>
          <p class="message error"><%= err %></p>
          <% }); %> <% } %>
        </form>
      </div>
    </div>
  </body>
</html>
