<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="controls">
        <a href="/logout" class="logout-btn">Logout</a>
      </div>

      <div class="room">
        <div class="room-header">
          <div class="room-about">
            <div class="room-title">Rooms</div>
            <div class="room-num-rooms"><%= rooms.length %> Room(s)</div>
          </div>
        </div>
        <!-- end room-header -->

        <div class="room-create">
          <input
            type="text"
            name="title"
            autofocus
            placeholder="Type a new room"
          />
          <button>Create</button>
        </div>
        <!-- end room-create -->

        <div class="room-list">
          <ul>
            <% if(rooms.length > 0) { %> <% rooms.forEach(function(room) { %>
            <a href="/chat/<%= room.id %>">
              <li class="room-item">
                <%= (room.title.length > 25? room.title.substr(0, 25) + '...':
                room.title) %>
              </li>
            </a>
            <% }); %> <% } else { %>
            <p class="message">
              Create your first room!
            </p>
            <% } %>
          </ul>
        </div>
        <!-- end room-list -->
      </div>
      <!-- end room -->
    </div>
    <!-- end container -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $(function() {
        app.rooms();
      });
    </script>
  </body>
</html>
